%h1 Listing people
%table
  %tr
    %th Name
    %th Description
    %th Telephone
    %th Age
    %th Last seen
    %th Active
    %th
    %th
    %th
  - @people.each do |person|
    %tr
      %td= person.name
      %td= person.description
      %td= person.telephone
      %td= person.age
      %td= person.last_seen
      %td= person.active
      %td= link_to 'Show', person
      %td= link_to 'Edit', edit_person_path(person)
      %td= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Person', new_person_path
