<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Description:</b>
  <%= @person.description %>
</p>

<p>
  <b>Telephone:</b>
  <%= @person.telephone %>
</p>

<p>
  <b>Age:</b>
  <%= @person.age %>
</p>

<p>
  <b>Last seen:</b>
  <%= @person.last_seen %>
</p>

<p>
  <b>Active:</b>
  <%= @person.active %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
