<div id='/'>
  <div class="slideshow">
    <%= image_tag("geton.png") %>
    <%= image_tag("getanewwebsite.png") %>
    <%= image_tag("dedicated.png") %>
    <%= image_tag("signup.png") %>
    <%= image_tag("nodelay.png") %>
  </div>
</div>

<% if current_user.try(:admin?) %>
  <%= link_to 'Enquiries', enquiries_path %>
<% else %>
  <% if user_signed_in? %>
    <%= link_to 'Create a new Enquiry', new_enquiry_path %>
  <% end %>
<% end %>