<div id='/'>
  <div class="slideshow">
    <%= image_tag("geton.png") %>
    <%= image_tag("getanewwebsite.png") %>
    <%= image_tag("dedicated.png") %>
    <%= image_tag("signup.png") %>
    <%= image_tag("nodelay.png") %>
  </div>
</div>