<!DOCTYPE html>
<html>
<head>
  <title>SaffronHosts</title>
  <meta http-equiv="CACHE-CONTROL" content="NO-CACHE"/>
  <link rel="icon" href="/images/favicon.png" type="image/x-icon" />
  <link rel="icon" href="/images/favicon.gif" type="image/x-icon" />
  <%= javascript_include_tag :defaults, 'jquery-ui-1.8.10.custom.min', 'jquery.cycle2.88', 'jquery.corner' %>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
</head>
  <body onload="javascript:disableAutoCompleteLogin();">
    <div id="container">
      <div id="header">
        <%= render 'layouts/header' %>
      </div>
      <div id="navigation">
        <ul>
          <li><%= active_link_to "Home",       root_path, :active => { :when => :self_only } %></li>
          <li><%= active_link_to "About us",   about_path %></li>
          <li><%= active_link_to "Services",   services_path %></li>
          <li><%= active_link_to "Contact us", contact_path %></li>
        </ul>
      </div>
      <div id="content">
        <%= yield %>
      </div>
      <div id="footer">
        Copyright © SaffronHosts, 2012
      </div>
      <div id="footer">                         <!-- START: footer -->
        <%= render 'layouts/noscript' %>
        <%= render 'layouts/footer' %>
      </div>                                    <!-- END: footer -->
    </div>
  </body>
</html>